<a href="https://colab.research.google.com/github/tlokender61/data-science/blob/main/introduction_to_spacy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import spacy

In [3]:
nlp=spacy.load('en_core_web_sm')

In [ ]:
text='Apple is looking for buying a U.K. startup for $1 billion'
doc=nlp(text)
for token in doc:
  print (token)

In [ ]:
for token in doc:
  print(token.text,token.pos_)

In [ ]:
from spacy import displacy

In [ ]:
displacy.render(doc,style='dep',jupyter=True)

In [5]:
from spacy.matcher import Matcher
from spacy.tokens import Span

In [10]:
doc =nlp('Hello World! this is new hello word')

In [11]:
pattern=[{'LOWER':'hello'},{'IS_PUNCT':False},{'LOWER':'world'}]
matcher=Matcher(nlp.vocab)
matcher.add('hw',None,pattern)

In [ ]:
matches=matcher(doc)

[]

In [ ]:
for match_id,start,end in matches:
  string_id=nlp.vocab.strings[match_id]
  span=doc[start:end]
  print(match_id,string_id,start,end,span.text)

In [ ]:
doc=nlp(text)
for entity in doc.ents:
  print(entity.text)

In [24]:
text='my phone number is 123. ohh its wrong one. correct one is 1223423432. call me'
# for sent in doc.sents:
#   print(sent)
import re

<re.Match object; span=(19, 20), match='1'>

In [31]:
sr=re.search(r'\d',text)
print(sr.span())

(19, 20)

In [43]:
re.findall(r'c',text)

['',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'c',
 '',
 '',
 '',
 '',
 'c',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'c',
 '',
 '',
 '',
 '',
 '',
 '',
 '']